@theme {
  /* Add custom theme config here if needed */
}

@source "../templates/**/*.html";
@source "../**/forms.py";

@layer utilities {
    .text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
    .text-2xl {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
    .font-bold {
        font-weight: 700;
    }
    .mb-4 {
        margin-bottom: 1rem;
    }
    .mb-3 {
        margin-bottom: 0.75rem;
    }
}

[x-cloak] { 
    display: none !important; 
}

:root {
    --primary: rgb(88, 40, 244);
    --primary-hover: rgb(69, 29, 200);
    --black: #1f2937;
    --font1: 'Lobster', sans-serif;
}

h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
}

.font1 {
    font-family: var(--font1);
}

.button, button, [type='submit'], [type='button'] {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0 1rem;
    min-height: 3.3rem;
    font-weight: 600;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
    transition-property: transform;
    transition-duration: .2s;
    color: white;
    background-color: var(--primary);
    width: fit-content;
}

.button:hover, button:hover, [type='submit']:hover, [type='button']:hover {
    background-color: var(--primary-hover);
}

.button:active, button:active, [type='submit']:active, [type='button']:active {
    transform: scale(0.95);
}

.secondaryAction {
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.secondaryAction:hover, .button.secondaryAction:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.navitems>li>a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
}

.navitems>li>a:hover {
    background-color: rgb(55, 65, 81);
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
    background-color: white;
    padding-bottom: 1rem;
    width: 100%;
}

.hoverlist>* {
    border-radius: 0.375rem;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-duration: 150ms;
}

.hoverlist>*:hover {
    background-color: rgb(243, 244, 246);
}

.hoverlist>*>a {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.highlight {
    background-color: rgb(224, 231, 255) !important;
}

.titleBlip {
    animation: 1s fadeIn;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    10% { opacity: 0; }
    100% { opacity: 1; }
}

html, body {
    margin: 0;
    min-height: 100%;
}

p {
    margin-bottom: 1rem;
}

form p {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

label, input {
    display: inline-block;
}

form p label {
    width: 7rem;
}

label {
    margin: 6px 0 3px;
}

input, textarea {
    width: 100%;
}

input[type="file"], select {
    background-color: white;
    padding-left: 0;
}

label[for="id_remember"] {
    width: auto;
    margin-right: 0.5rem;
}

input[name="remember"] {
    width: auto;
}

.btn-red {
    display: inline-flex;
    background-color: rgb(239, 68, 68);
}

.btn-red:hover {
    background-color: rgb(220, 38, 38);
}

.login .secondaryAction {
    box-shadow: none;
    display: block;
    padding: 0px;
    border: none;
    font-size: smaller;
    font-weight: normal;
    min-height: auto;
    margin-bottom: 1.5rem;
}

.login .secondaryAction:hover {
    color: rgb(107, 114, 128);
    text-decoration: underline;
    background-color: white;
}

#id_tags {
    margin-bottom: 1rem;
}

#id_tags div {
    display: inline-block;
    margin-right: 0.5rem;  
}

#id_tags div label {
    border-radius: 9999px;
    padding: 0.5rem 1rem;
    border: 1px solid rgb(229, 231, 235);
    width: auto;
    cursor: pointer;
    user-select: none;
}

#id_tags input {
    display: none;
}

#id_tags label:has(input:checked) {
    background-color: var(--black);
    color: white;
    border: 1px solid var(--black);
}

.textarea, textarea {
    margin-bottom: 1rem;
}

.textarea, textarea, input {
    border-radius: 0.5rem;
    padding: 1rem 1.2rem;
    background-color: rgba(232, 240, 254, 1);
}

.errorlist li {
    color: rgb(253, 88, 49);
    padding: 0.5rem;
    padding-left: 1rem;
    border-left: 5px solid rgb(253, 88, 49);
    margin-bottom: 1rem;
}

.tab {
    cursor: pointer;
    padding: 0.75rem 1rem;
    color: rgb(0,0,0,0.6); 
    background-color: rgb(0,0,0,0.05);
    border-radius: 0.75rem;
    text-align: center;
    display: flex;
    align-items: center;
}

.tab:hover {
    background-color: rgb(0,0,0,0.1);
}

.tab.selected {
    color: white;
    background-color: var(--black);
}

.replyform {
    border-top: none;
}

.replyform textarea, .replyform input {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    margin-bottom: 0px;
    height: 3.2rem;
}

.replyform button {
    margin-left: 0.5rem;
    min-height: unset;
}

.fade-me-in.htmx-settling {
    opacity: 0;
}

.fade-me-in {
    opacity: 1;
    transition: opacity 1s ease-out;
}

#profile article figure img {
    aspect-ratio: 3/2;
    object-fit: cover;
}

#profile article p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: normal;
}