{% extends "layouts/b.html" %}
{% block content %}
  <h1>Edit Post</h1>
<div class="card p-4">
    <div class="flex items-center mb-4">
        <img class="w-full object-cover rounded-lg " src="{{post.image}}">
    </div>
    
    <div class="pb-2">
        <form method='POST'>
            {% csrf_token %}
            {{form.as_p}}
            <div class="pt-4">
                <button type="submit">Submit</button>
                <a class="button secondaryAction ml-1" href="">Go Back</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}